:root {
  --blue: #1e90ff;
  --green: #28a745;
  --green-light: #66ff99;
}
body {
  background-color: var(--blue);
}
div.container {
  color: var(--blue);
  background-color: #fff;
  padding: 20px;
  h2 {
    border-bottom: 2px solid var(--blue);
  }
  button{
    background-color: #fff;
    color: var(--blue);
    border: 1px solid var(--blue);
    padding: 5px 10px;
  }
}
