button.button {
  display: inline-block;
  background-color: #f4511e;
  width: 200px;
  padding: 20px;
  border: none;
  color: #fff;
  font-size: 28px;
  text-align: center;
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.5s;
}
button.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button.button span:after {
  content: "»";
  position: absolute;
  top: 0;
  right: -20px;
  transition: 0.5s;
  opacity: 0;
}
button.button:hover span {
  padding-right: 25px;
}
button.button:hover span:after {
  right: 0;
  opacity: 1;
}
