@media only screen and (max-width: 1000px) {
  header {
    padding: 20px 50px;
  }
  section{
    padding: 100px 50px;
  }
}

@media only screen and (max-width:800px){
  .banner-area{
    min-height: 600px;
  }
  .banner-area h1{
    font-size: 32px;
  }
  .banner-area h3{
    font-size: 20px;

  }
  .banner-area a.banner-btn{
    padding: 15px 40px;
  }
}

@media only screen and (max-width: 700px) {
  header {
    flex-direction: column;
  }
  header h2 {
    margin-bottom: 15px;
  }
  header nav li {
    margin: 0 7px;
  }
}

@media only screen and (max-width:600px){
  section{
    padding: 125px 30px;
  }
}