/* Media 
Quaries */

@media only screen and (max-width: 770px) {
  .row {
    flex-direction: column;
  }
  nav {
    flex-direction: column;
    position: relative;
  }
  nav box-icon {
    display: block;
    position: absolute;
    top: 36px;
    right: 34px;
  }
  nav ul {
    background-color: whitesmoke; /*white background for the menu*/
    display: none;
  }
  .showmenu {
    display: block; /*show the menu when toggled*/
  }
  nav ul li {
    display: block; /*display items in a block for mobile view*/
    padding: 2% 0;
  }
  nav ul li a {
    color: #222;
  }
  /* Header content */
  .header-content {
    width: 100%;
    top: 5%;
    left: 0;
    text-align: center;
    padding: 0 8px;
  }
  input[type="text"],
  input[type="email"],
  input[type="submit"] {
    width: 80%;
    margin: 2rem auto;
  }
  .contact form input,
  .contact form textarea {
    width: 100%;
  }
  .progress-bar {
    display: none;
  }
  .process-content {
    margin-top: 20px;
  }
  .process .box2,
  .process .box1,
  .process .box3 {
    text-align: center;
  }
  .testimony .test {
    margin: 1.6rem 0;
  }
}
@media only screen and (min-width: 1920px) {
  .about2-left {
    flex-basis: 40%;
  }
}
@media only screen and (max-width: 1540px) {
  .about2 > .row {
    flex-direction: column;
  }
  .about2 .about2-left {
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }
  .about2 .about2-left p {
    text-align: left;
  }
  .about > .row {
    flex-direction: column;
  }
}

/* @media only screen and (max-width: 1000px) {
  .mobile-message {
    display: block;
  }
  .main-content {
    display: none;
  }
} */
