* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; /*10px*/
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  font-weight: 400; /*normal*/
  font-size: 1.6rem; /*16px*/
  color: whitesmoke;
}
h1,
h2,
p {
  margin: 1.6rem 0; /*16px & top and bottom effect*/
}
h1 {
  font-weight: 800; /*bold*/
  font-size: 3.6rem; /*36px*/
}
h2 {
  font-weight: 800; /*bold*/
  font-size: 2.4rem; /*24px*/
}
p {
  font-weight: 400; /*normal*/
  font-size: 1.8rem; /*18px*/
}
img {
  width: 200%; /*double the size of the container*/
  height: auto; /*maintain aspect ratio*/
}
.row {
  display: flex;
  justify-content: space-between; /*space between items*/
  width: 80%; /*80% of the container width*/
  align-items: center; /*center items vertically by middle line*/
  margin: auto; /*center the row in the container*/
}
section {
  padding: 70px 0; /*100px top and bottom padding*/
}
/* Hero Section */

header {
  height: 100vh; /*full viewport height*/
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
    url("https://raw.githubusercontent.com/wkazisan/Code-Journey/refs/heads/main/flexbox/website/images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover; /*cover the entire section*/
  background-position: center; /*center the background image*/
  color: whitesmoke;
}

.logo h1 {
  font-size: 3.2rem; /*32px*/
  color: #4caf50;
  margin: 0; /*remove default margin*/
}
nav {
  padding: 2% 8%; /*2% top and bottom padding, 8% left and right padding*/
  display: flex; /*use flexbox for layout*/
  justify-content: space-between; /*space between logo and nav items*/
}
nav box-icon {
  display: none;
}

nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline-block; /*display items in a line*/
  margin-left: 2.5rem;
}
nav ul li a:hover {
  color: #4caf50;
  transition: 0.5s ease-in-out;
}

/* Form */
.header-content {
  width: 50%;
  position: relative;
  top: 10%;
  left: 8%;
}
.header-content form {
  margin: 2.4rem 0;
}
input {
  font-size: 1.8rem;
}
input[type="text"],
input[type="email"] {
  width: 50%;
  padding: 1.2rem 2rem;
  margin: 1.2rem 0;
  display: block;
  border: 0.1rem solid #ccc;
}
input[type="submit"] {
  width: 50%;
  background-color: #4caf50;
  color: #fff;
  padding: 1.4rem 2rem;
  margin: 0.8rem 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

input::placeholder {
  font-size: 1.3rem;

  color: #ccc; /*light gray for placeholder text*/
}

/* About Section */
.about-left,
.about-middle,
.about-right {
  flex-basis: 30%; /*each section takes 30% of the row width*/
  padding: 1.6rem; /*16px padding*/
}
.about-left img {
  width: 100%;
}

.btn {
  background-color: #4caf50;
  color: #fff;
  padding: 0.8rem 1.6rem;
  display: inline-block;
  margin: 2rem 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}
/* About 2 */
.about2 {
  background-color: #222;
  color: white;
}
.about2-left {
  flex-basis: 50%; /*left section takes 50% of the row width*/
}
.about2-right {
  flex-basis: 30%; /*right section takes 50% of the row width*/
}
.about2 .card {
  padding: 3rem 8rem;
  color: #222 /*dark gray for card text*/;
  background-color: #dcdcdc; /*light gray for card background*/
  margin: 1.6rem;
  text-align: center;
}
.about2 .card4 {
  padding: 3rem 7.6rem;
}

.mobile-message {
  display: none;
  font-size: 10vw;
  text-align: center;
  margin-top: 50px;
  height: 100vh; /*full viewport height*/
}
/* Process Section */
.process .row {
  justify-content: center; /*center items in the row*/
}
.process-content {
  margin-top: 100px;
}
.progress-bar {
  width: 80%;
  height: 2px;
  background-color: #222;
  margin: auto; /*center the progress bar*/
  position: relative; /*position relative for absolute children*/
}
.progress-bar .c1,
.progress-bar .c2,
.progress-bar .c3 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #222;
  position: absolute;
}
.progress-bar .c1 {
  top: -8px;
  left: 50px;
}
.progress-bar .c2 {
  top: -8px;
  left: 50%;
}
.progress-bar .c3 {
  top: -8px;
  right: 50px;
}
.box1,
.box2,
.box3 {
  padding: 1.8rem;
}
.process .box2 {
  text-align: center;
}
.process .box1 {
  text-align: left;
}
.process .box3 {
  text-align: right;
}
.process-content h2 {
  color: #4caf50;
}

/* Testimony */
.testimony {
  background-color: #222;
  color: whitesmoke;
}
.testimony .test {
  background-color: #505050;
  padding: 4rem 8rem;
  margin: 0 1rem;
}
.testimony .image {
  height: 80px;
  width: 80px;
}
.testimony img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* Contact */

.contact .row {
  justify-content: center;
}
.contact form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact form .input {
  width: 50%;
}
.contact form textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  font-size: 1.3rem;
  resize: none;
  color: #ccc;
  margin-top: 1.2rem 0;
  font-family: "Poppins", sans-serif;
}
footer {
  height: 80px;
  background-color: #222;
  color: #fff;
  line-height: 80px;
  text-align: center;
}
